<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="true" /> <rewrite>
            <rules>
                <rule name="SocketIO" stopProcessing="true">
                    <match url="^socket.io/(.*)" />
                    <serverVariables>
                        <set name="HTTP_UPGRADE" value="websocket" />
                        <set name="HTTP_CONNECTION" value="Upgrade" />
                    </serverVariables>
                    <action type="Rewrite" url="http://127.0.0.1:3000/socket.io/{R:1}" />
                </rule>
                <rule name="ReverseProxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>


